// Typography
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

$font-base: 1.6rem;
$font-xl: 20px;

$text-sx: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-3xl: 3rem;
$text-4xl: 3.6rem;
$text-5xl: 5rem;